@import "../index.scss";

.error {
	@include flexbox(column, center, center, 139px);
	padding: 105px 0 139px 0;

	&__title {
		color: $main-color;
		font-weight: 700;
		font-size: 240px;
		line-height: 80%;
	}

	&__text {
		color: $main-color;
		font-size: 28px;
		text-align: center;
	}

	@media (min-width: 769px) {
		br {
			display: none;
		}
	}

	@media (max-width: 768px) {
		height: 100%;
		padding: 0 0 20px 0;
		gap: 99px;

		&__title {
			font-size: 96px;
		}

		&__text {
			font-size: 18px;
		}

		&__link {
			font-size: 14px;
		}
	}
}
