@import "../index.scss";

.footer {
	background-color: black;
	height: 209px;
	width: 100%;
	@include flexbox(column, flex-end, center, 0);

	@media (max-width: 768px) {
		justify-content: center;
		gap: 15px;
	}

	&__text {
		color: white;
		font-size: 24px;
		margin: 40px 0 30px 0;
		text-align: center;

		@media (max-width: 768px) {
			font-size: 12px;
			margin: 0;
			max-width: 100px;
		}
	}
}
