@import "../../index.scss";

.about {
	@include flexbox(column, center, center, 0);
	padding: 0 35px;

	@media ($mobile) {
		padding: 0 20px;
	}

	&__content {
		width: 75%;
		max-width: 1023px;
		padding: 35px 0;
		@include flexbox(column, initial, initial, 30px);

		@media ($mobile) {
			width: 100%;
		}
	}
}
