@import "../../index.scss";

$shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

.home {
	@include flexbox(column, initial, center, 0);
	padding: 0 35px;

	@media ($mobile) {
		padding: 0 20px;
	}

	.banner {
		box-shadow: $shadow;

		&__overlay {
			background-color: rgba(0, 0, 0, 0.6);
		}
	}

	&__title {
		font-weight: 700;
		font-size: 44px;
		color: white;
		text-align: center;
		width: 100%;
		@include absolute-centerY;

		@media (min-width: 769px) {
			-webkit-text-stroke: 2px black;
			paint-order: stroke fill;
			text-shadow: $shadow;

			br {
				display: none;
			}
		}

		@media ($mobile) {
			font-size: 24px;
			left: 20px;
			text-align: left;
		}
	}

	.gallery {
		border-radius: 25px;
		margin: 35px 0;
		width: 100%;
		display: grid;
		gap: 40px;
		grid-template-columns: 1fr 1fr 1fr;
		background-color: #f6f6f6;
		padding: 40px;
		box-sizing: border-box;

		@media (min-width: 1121px) {
			.card {
				aspect-ratio: 1/1;
				height: 100%;
			}
		}

		@media (max-width: 1120px) {
			grid-template-columns: 1fr 1fr;
		}

		@media (max-width: 870px) {
			@include flexbox(column, initial, initial, 22px);
		}

		@media ($mobile) {
			padding: 0;
			background-color: unset;
		}
	}
}
