$main-color: #ff6060;

* {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: black;
	margin: 0;
}

/* Pour fixer le footer en bas de page */
#root {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.header {
	width: 100%;
	display: flex;
	justify-content: center;

	&__container {
		max-width: 1240px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 35px;
		margin: 0;

		@media (max-width: 768px) {
			padding: 20px;
		}
	}

	&__title__text {
		display: none;
	}

	&__navbar {
		font-size: 24px;
		color: inherit;
		display: flex;
		align-items: center;

		&__link {
			text-decoration: none;
			margin-left: 57px;
			font-size: 24px;

			&.active {
				text-decoration: underline;
				pointer-events: none;
			}

			@media (max-width: 768px) {
				font-size: 12px;
				margin-left: 26px;
				text-transform: uppercase;
			}
		}
	}
}

.footer {
	background-color: black;
	height: 209px;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;

	@media (max-width: 768px) {
		justify-content: center;
		gap: 15px;
	}

	&__text {
		color: white;
		font-size: 24px;
		margin: 40px 0 30px 0;
		text-align: center;

		@media (max-width: 768px) {
			font-size: 12px;
			margin: 0;
			max-width: 100px;
		}
	}
}

.error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 99px 0 139px 0;
	gap: 139px;

	&__title {
		color: $main-color;
		font-weight: 700;
		font-size: 240px;
		line-height: 80%;
	}

	&__text {
		color: $main-color;
		font-size: 28px;
		text-align: center;
	}

	@media (min-width: 769px) {
		br {
			display: none;
		}
	}

	@media (max-width: 768px) {
		padding: 93px 0 113px 0;

		&__title {
			font-size: 96px;
		}

		&__text {
			font-size: 18px;
		}

		&__link {
			font-size: 14px;
		}
	}
}

@mixin banner {
	border-radius: 25px;
	height: 223px;
	width: 100%;

	@media (max-width: 768px) {
		height: 111px;
		border-radius: 10px;
	}
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 35px;

	@media (max-width: 768px) {
		padding: 0 20px;
	}

	> * {
		max-width: 1240px;
	}

	&__content {
		width: 75%;
		max-width: 1023px;
		padding: 35px 0;
		display: flex;
		flex-direction: column;
		gap: 30px;

		@media (max-width: 768px) {
			width: 100%;
		}
	}
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 35px;
	max-width: 1240px;
	margin: auto;

	@media (max-width: 768px) {
		padding: 0 20px;
	}

	.banner {
		position: relative;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

		&__overlay {
			background-color: rgba(0, 0, 0, 0.6);
		}
	}

	&__title {
		font-weight: 700;
		position: absolute;
		color: white;
		font-size: 24px;
		top: 13%;

		@media (min-width: 769px) {
			font-size: 44px;
			-webkit-text-stroke: 2px black;
			paint-order: stroke fill;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			top: 25%;

			br {
				display: none;
			}
		}

		@media (max-width: 768px) {
			left: 40px;
		}
	}

	.gallery {
		border-radius: 25px;
		margin: 35px 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 22px;

		@media (min-width: 769px) {
			background-color: #f6f6f6;
			padding: 40px;
			box-sizing: border-box;
			display: grid;
			grid-template-columns: repeat(auto-fill, 340px);
			justify-content: center;
			gap: 40px;
			max-width: 100%;
		}
	}
}

.banner {
	position: relative;
	@include banner;
	// background-color: #f6f6f6;

	&__img {
		object-fit: cover;
		@include banner;
	}

	&__overlay {
		@include banner;
		position: absolute;
		top: 0;
		background-color: rgba(0, 0, 0, 0.3);
		mix-blend-mode: darken;
	}
}

.collapse {
	position: relative;
	width: 100%;

	&__content {
		display: none;
		text-align: justify;
		padding: 20px;
		font-weight: 400;
		line-height: 143%;

		&.active {
			display: block;
		}

		span {
			font-size: inherit;
			font-weight: inherit;
		}
	}

	&__title {
		background-color: $main-color;
		border-radius: 5px;
		font-size: 24px;
		font-weight: 700;
		color: white;
		padding: 10px 20px;
	}

	&__icon {
		width: 32px;
		position: absolute;
		cursor: pointer;
		right: 20px;
		top: 20px;
	}

	@media (max-width: 768px) {
		&__content {
			font-size: 12px;
			padding: 10px 20px;
		}

		&__title {
			font-size: 16px;
			padding: 10px;
		}

		&__icon {
			top: 15px;
			right: 10px;
			width: 24px;
		}
	}
}

.card {
	position: relative;
	height: 360px;

	@media (max-width: 768px) {
		height: 255px;
	}

	&__title {
		position: absolute;
		color: white;
		left: 20px;
		bottom: 20px;
		font-weight: 700;
		width: 66%;
		z-index: 1;
	}

	&__cover {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
	}

	&__overlay {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		position: absolute;
		top: 0;
		background: linear-gradient(rgba(255, 255, 255, 0), rgba(10, 10, 10, 0), rgba(4, 4, 4, 0.41), rgba(0, 0, 0, 1));
	}
}

.lodging {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 0 35px;

	@media (max-width: 768px) {
		padding: 0 20px;
		gap: 10px;
	}

	> * {
		max-width: 1240px;
	}

	&__banner {
		height: 100%;
	}

	.banner {
		height: 415px;

		@media (max-width: 768px) {
			height: 255px;
		}

		&__img {
			height: 100%;
		}

		&__arrow {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			opacity: 0.87;
			cursor: pointer;

			&.next {
				right: 25px;
			}

			&.previous {
				left: 25px;
			}

			@media (max-width: 768px) {
				height: 20px;

				&.next {
					right: 10px;
				}

				&.previous {
					left: 10px;
				}
			}
		}

		&__currentSlide {
			color: white;
			position: absolute;
			bottom: 30px;
			left: 50%;
			transform: translateX(-50%);

			@media (max-width: 768px) {
				display: none;
			}
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;
		width: 100%;

		&__title {
			font-size: 36px;
			color: $main-color;
			margin-bottom: 5px;
		}

		&__tags {
			margin-top: 20px;
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
		}

		&__tags__tag {
			background-color: $main-color;
			font-size: 14px;
			color: white;
			font-weight: 700;
			text-align: center;
			width: 172px;
			height: 25px;
			line-height: 25px;
			border-radius: 10px;
		}

		@media (max-width: 768px) {
			flex-direction: column;

			&__title {
				font-size: 18px;
				margin-bottom: 10px;
			}

			&__content {
				font-size: 14px;
			}

			&__tags__tag {
				width: 110px;
				height: 18px;
				line-height: 18px;
				font-size: 10px;
			}
		}

		&__host {
			&__content {
				display: flex;
				align-items: center;
				gap: 10px;
				margin-bottom: 20px;
				width: 165px;

				&__name {
					color: $main-color;
					text-align: right;
				}

				&__picture {
					width: 64px;
					border-radius: 50%;
				}
			}

			&__ranking {
				display: flex;
				justify-content: space-between;
			}

			@media (max-width: 768px) {
				display: flex;
				flex-direction: row-reverse;
				justify-content: space-between;
				padding: 20px 0 10px 0;

				&__ranking {
					align-items: center;
					gap: 5px;
					img {
						height: 13px;
					}
				}

				&__content {
					justify-content: flex-end;
					width: 100px;
					margin-bottom: 0;

					&__name {
						font-size: 12px;
					}

					&__picture {
						width: 32px;
					}
				}
			}
		}
	}

	&__desc {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 75px;
		padding-bottom: 45px;

		@media (max-width: 768px) {
			flex-direction: column;
			gap: 20px;
			padding-bottom: 30px;
		}
	}
}
