$main-color: #ff6060;
$mobile: "max-width: 768px";

* {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: black;
	margin: 0;
}

/* Pour fixer le footer en bas de page */
#root {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;

	section {
		max-width: 1240px;
		margin: auto;
	}
}

@mixin flexbox($direction, $aligncontent, $alignitems, $gap) {
	display: flex;
	flex-direction: $direction;
	justify-content: $aligncontent;
	align-items: $alignitems;
	gap: $gap;
}

@mixin absolute-centerY {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
